.share-page {
    text-align: center;
 
    color: #222;
    padding: 8px 15px;
 
    margin: 1.5 * 2 0;

    a {
        font-weight: 700;
        color: #38A1F3;
        margin-left: 10px;

        &:hover {
            border-bottom: 1px dashed #fff;
        }
    }
}